container_commands:
    01_resetdb:
        command: "php artisan migrate"
    02_createadmin:
        command: "php artisan create:admin_user"
    03_defaultplatforms:
        command: "php artisan default:platforms"
    04_defaultrecommendations:
        command: "php artisan default:recommendations"
    05_seeddb:
        command: "php artisan db:seed"